.pokemon-details {
    flex: 30%;
    height: 80vh;
    margin: 0 0 0 1em !important;
    // margin-left: 1em !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .container-details-pokemon {

    }

    .container-picture {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 655px) {

    .pokemon-details {
      margin: 0 0 0.5em 0 !important;
        height: 60vh;
    }
  }
