.main {
    flex: 60%;
    height: 80vh !important;
    overflow-y: scroll;
    // position: fixed;
}

@media screen and (max-width: 650px) {
    .main {
        padding: 2em 2em;
        height: 10em  !important;
        overflow-x: scroll;
    }
  }